 .u-section-1 {
  background-image: linear-gradient(0deg, rgba(0,0,0,0.2), rgba(0,0,0,0.2)), url("images/Untitled-32.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 710px;
}

.u-section-1 .u-text-1 {
  letter-spacing: normal;
  font-family: Antonio;
  font-size: 4.5rem;
  text-transform: none;
  font-weight: 700;
  margin: 213px 677px 0 0;
}

.u-section-1 .u-text-2 {
  font-size: 1rem;
  margin: 40px 755px 60px 0;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 585px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 477px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 555px;
  }
}

@media (max-width: 991px) {
   .u-section-1 {
    background-position: 26.53% 37.31%;
    background-size: auto 140%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 448px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 257px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 335px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 336px;
  }

  .u-section-1 .u-text-1 {
    margin-right: 77px;
  }

  .u-section-1 .u-text-2 {
    margin-right: 155px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 212px;
  }

  .u-section-1 .u-text-1 {
    font-size: 3rem;
    margin-right: 0;
  }

  .u-section-1 .u-text-2 {
    margin-right: 0;
  }
} .u-section-2 {
  background-image: url("images/trh.jpg");
  background-position: 50% 50%;
}

.u-section-2 .u-sheet-1 {
  min-height: 557px;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 0;
  margin-bottom: 25px;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 532px;
}

.u-section-2 .u-container-layout-1 {
  padding: 30px 0 0 40px;
}

.u-section-2 .u-image-1 {
  object-position: 100% 100%;
  height: 502px;
  width: 468px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 0 auto 0 0;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 532px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-2 .u-container-layout-2 {
  padding: 50px 40px;
}

.u-section-2 .u-group-elements-1 {
  min-height: 323px;
  margin: 51px auto 0;
}

.u-section-2 .u-text-1 {
  letter-spacing: normal;
  font-weight: 700;
  font-family: Raleway, sans-serif;
  text-transform: none;
  font-size: 1.875rem;
  margin: 0;
}

.u-section-2 .u-text-2 {
  font-size: 1.125rem;
  font-style: italic;
  margin: 62px 0 0;
}

.u-section-2 .u-btn-1 {
  letter-spacing: 3px;
  font-size: 1.25rem;
  border-style: none;
  background-image: none;
  text-transform: uppercase;
  margin: 28px auto 0 0;
  padding: 10px 62px 10px 61px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 354px;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 50% 100%;
    min-height: 439px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-left: 0;
  }

  .u-section-2 .u-image-1 {
    height: 462px;
    width: 439px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 439px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-left: 35px;
    padding-right: 35px;
  }

  .u-section-2 .u-group-elements-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 238px;
  }

  .u-section-2 .u-layout-cell-1 {
    background-position: 28.32% 50%;
    min-height: 572px;
  }

  .u-section-2 .u-image-1 {
    height: 272px;
    margin-top: 133px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding: 30px 25px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1046px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 1px;
    margin-bottom: 1px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 560px;
    order: 1;
  }

  .u-section-2 .u-image-1 {
    height: 437px;
    margin-top: 13px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 386px;
    order: 0;
  }

  .u-section-2 .u-container-layout-2 {
    padding-top: 50px;
    padding-right: 50px;
    padding-left: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 378px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 353px;
  }

  .u-section-2 .u-image-1 {
    height: 272px;
    width: auto;
    margin-right: initial;
    margin-left: initial;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-2 .u-container-layout-2 {
    padding-right: 20px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 871px;
}

.u-section-3 .u-shape-1 {
  height: 904px;
  width: 274px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 1px auto 0 392px;
}

.u-section-3 .u-image-1 {
  width: 665px;
  height: 394px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -785px 30px 0 auto;
}

.u-section-3 .u-group-1 {
  min-height: 202px;
  width: 398px;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -442px auto 0 172px;
}

.u-section-3 .u-container-layout-1 {
  padding: 13px 30px 30px;
}

.u-section-3 .u-text-1 {
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: Roboto, sans-serif;
  margin: 2px 1px 0;
}

.u-section-3 .u-text-2 {
  font-family: Raleway, sans-serif;
  font-size: 2.25rem;
  margin: 20px 1px 0;
}

.u-section-3 .u-list-1 {
  width: 1089px;
  margin: 185px auto 60px;
}

.u-section-3 .u-repeater-1 {
  grid-template-columns: calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px) calc(25% - 13.5px);
  min-height: 306px;
  grid-gap: 18px 18px;
}

.u-section-3 .u-list-item-1 {
  background-image: none;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 62px;
  width: 62px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-3 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px 2px 0 0;
}

.u-section-3 .u-text-4 {
  font-style: italic;
  margin: 30px 0 0;
}

.u-section-3 .u-list-item-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-3 {
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 62px;
  width: 62px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-5 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px 2px 0 0;
}

.u-section-3 .u-text-6 {
  font-style: italic;
  margin: 30px 0 0;
}

.u-section-3 .u-list-item-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-4 {
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 62px;
  width: 62px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-7 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px 2px 0 0;
}

.u-section-3 .u-text-8 {
  font-style: italic;
  margin: 30px 0 0;
}

.u-section-3 .u-list-item-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
}

.u-section-3 .u-container-layout-5 {
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 62px;
  width: 62px;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-9 {
  font-weight: 700;
  font-size: 1.125rem;
  margin: 30px 2px 0 0;
}

.u-section-3 .u-text-10 {
  font-style: italic;
  margin: 30px 0 0;
}

@media (max-width: 1199px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1163px;
  }

  .u-section-3 .u-shape-1 {
    height: 941px;
    width: 413px;
    margin-top: 2px;
    margin-left: 152px;
  }

  .u-section-3 .u-image-1 {
    width: 682px;
    height: 514px;
  }

  .u-section-3 .u-group-1 {
    min-height: 349px;
    width: 515px;
    height: auto;
  }

  .u-section-3 .u-list-1 {
    width: 909px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 339px;
  }

  .u-section-3 .u-text-3 {
    margin-right: 0;
  }

  .u-section-3 .u-text-5 {
    margin-right: 0;
  }

  .u-section-3 .u-text-7 {
    margin-right: 0;
  }

  .u-section-3 .u-text-9 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1272px;
  }

  .u-section-3 .u-shape-1 {
    height: 766px;
    width: 438px;
    margin-top: 1px;
    margin-left: 63px;
  }

  .u-section-3 .u-image-1 {
    width: 470px;
    height: 397px;
    margin-top: -586px;
    margin-right: 20px;
  }

  .u-section-3 .u-group-1 {
    min-height: 209px;
    width: 378px;
    margin-top: -487px;
    margin-left: 17px;
  }

  .u-section-3 .u-list-1 {
    width: 657px;
    margin-top: 314px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: calc(50% - 9px) calc(50% - 9px);
    min-height: 594px;
  }

  .u-section-3 .u-text-3 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-5 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-7 {
    font-size: 1.25rem;
  }

  .u-section-3 .u-text-9 {
    font-size: 1.25rem;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1310px;
  }

  .u-section-3 .u-shape-1 {
    height: 555px;
    width: 288px;
  }

  .u-section-3 .u-image-1 {
    width: 358px;
    height: 298px;
    margin-top: -362px;
    margin-right: 44px;
  }

  .u-section-3 .u-group-1 {
    min-height: 225px;
    width: 341px;
    margin-top: -436px;
    margin-left: -43px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 24px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 0;
  }

  .u-section-3 .u-text-2 {
    width: auto;
  }

  .u-section-3 .u-list-1 {
    width: 495px;
    margin-top: 312px;
    margin-bottom: 47px;
  }

  .u-section-3 .u-repeater-1 {
    min-height: 671px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-icon-1 {
    margin-top: 18px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-icon-2 {
    margin-top: 18px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-icon-3 {
    margin-top: 18px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-icon-4 {
    margin-top: 18px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 2096px;
  }

  .u-section-3 .u-shape-1 {
    height: 553px;
    width: 225px;
    margin-top: 63px;
    margin-left: auto;
  }

  .u-section-3 .u-image-1 {
    width: 286px;
    height: 257px;
    margin-top: -339px;
    margin-right: 17px;
  }

  .u-section-3 .u-group-1 {
    min-height: 226px;
    width: 274px;
    margin-top: -421px;
    margin-left: -50px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 24px;
  }

  .u-section-3 .u-text-1 {
    width: auto;
  }

  .u-section-3 .u-text-2 {
    font-size: 1.875rem;
  }

  .u-section-3 .u-list-1 {
    width: 307px;
    margin-top: 452px;
  }

  .u-section-3 .u-repeater-1 {
    grid-template-columns: 100%;
    min-height: 1248px;
  }
} .u-section-4 {
  background-image: none;
}

.u-section-4 .u-sheet-1 {
  min-height: 610px;
}

.u-section-4 .u-text-1 {
  letter-spacing: normal;
  font-family: Raleway, sans-serif;
  font-size: 2.25rem;
  margin: 20px 58px 0 238px;
}

.u-section-4 .u-shape-1 {
  width: 322px;
  height: 473px;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: 58px 341px 0 auto;
}

.u-section-4 .u-image-1 {
  width: 566px;
  height: 291px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -382px 178px 0 auto;
}

.u-section-4 .u-slider-1 {
  min-height: 253px;
  width: 443px;
  height: auto;
  margin: -405px auto 60px 156px;
}

.u-section-4 .u-carousel-indicators-1 {
  position: absolute;
  width: auto;
  height: auto;
  top: auto;
  bottom: 40px;
}

.u-section-4 .u-carousel-item-1 {
  background-image: none;
}

.u-section-4 .u-container-layout-1 {
  padding: 40px 60px 45px 70px;
}

.u-section-4 .u-text-2 {
  font-family: Raleway, sans-serif;
  margin: 0 43px 0 0;
}

.u-section-4 .u-text-3 {
  font-size: 1.0625rem;
  margin: 20px 0 0;
}

.u-section-4 .u-carousel-item-2 {
  background-image: none;
}

.u-section-4 .u-container-layout-2 {
  padding: 40px 60px 45px 70px;
}

.u-section-4 .u-text-4 {
  font-family: Raleway, sans-serif;
  margin: 0 43px 0 0;
}

.u-section-4 .u-text-5 {
  font-size: 1.0625rem;
  margin: 20px 0 0;
}

.u-section-4 .u-carousel-control-1 {
  width: 43px;
  height: 43px;
  left: 0;
  position: absolute;
  background-image: none;
  right: auto;
}

.u-section-4 .u-carousel-control-2 {
  width: 43px;
  height: 43px;
  left: auto;
  position: absolute;
  background-image: none;
  right: 0;
}

@media (max-width: 1199px) {
  .u-section-4 .u-text-1 {
    margin-right: 0;
    margin-left: 296px;
  }

  .u-section-4 .u-shape-1 {
    width: 273px;
  }

  .u-section-4 .u-image-1 {
    width: 577px;
  }

  .u-section-4 .u-slider-1 {
    width: 388px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 45px;
    padding-right: 45px;
  }

  .u-section-4 .u-text-2 {
    margin-right: 0;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 45px;
    padding-right: 45px;
  }

  .u-section-4 .u-text-4 {
    margin-right: 0;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 742px;
  }

  .u-section-4 .u-text-1 {
    width: auto;
    margin-top: 41px;
    margin-left: 97px;
  }

  .u-section-4 .u-shape-1 {
    height: 576px;
    margin-top: 20px;
    margin-right: 204px;
  }

  .u-section-4 .u-image-1 {
    margin-right: 0;
  }

  .u-section-4 .u-slider-1 {
    min-height: 382px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding: 30px 55px;
  }

  .u-section-4 .u-container-layout-2 {
    padding: 30px 55px;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 786px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
  }

  .u-section-4 .u-shape-1 {
    height: 589px;
    margin-top: 75px;
    margin-right: 72px;
  }

  .u-section-4 .u-image-1 {
    height: 408px;
    width: 480px;
    margin-top: -437px;
  }

  .u-section-4 .u-slider-1 {
    min-height: 367px;
    margin-top: -542px;
    margin-bottom: 246px;
    margin-left: -25px;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 50px;
    padding-right: 50px;
  }

  .u-section-4 .u-text-3 {
    width: auto;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 1022px;
  }

  .u-section-4 .u-shape-1 {
    width: 255px;
    height: 583px;
    margin-right: 18px;
  }

  .u-section-4 .u-image-1 {
    width: 340px;
    height: 289px;
    margin-right: auto;
    margin-left: 0;
  }

  .u-section-4 .u-slider-1 {
    min-height: 403px;
    width: 305px;
    margin-top: -423px;
    margin-left: 0;
  }

  .u-section-4 .u-container-layout-1 {
    padding-left: 45px;
    padding-right: 45px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 45px;
    padding-right: 45px;
  }
} .u-section-5 {
  background-image: none;
}

.u-section-5 .u-sheet-1 {
  min-height: 671px;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 535px;
}

.u-section-5 .u-container-layout-1 {
  padding: 30px;
}

.u-section-5 .u-shape-1 {
  width: 354px;
  height: 15px;
  margin: 48px auto 0 0;
}

.u-section-5 .u-text-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 1.875rem;
  margin: 30px 0 0;
}

.u-section-5 .u-text-2 {
  font-size: 1.125rem;
  margin: 22px 0 0;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 535px;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-3 {
  font-size: 1.125rem;
  margin: 181px 0 0;
}

.u-section-5 .u-btn-1 {
  letter-spacing: 3px;
  font-size: 1.25rem;
  border-style: none;
  background-image: none;
  text-transform: uppercase;
  margin: 98px auto 0 0;
  padding: 10px 62px 10px 61px;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-5 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 441px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 441px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-shape-1 {
    width: 300px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-text-3 {
    margin-top: 0;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 439px;
  }
} .u-section-6 {
  background-image: none;
}

.u-section-6 .u-sheet-1 {
  min-height: 723px;
}

.u-section-6 .u-shape-1 {
  height: 722px;
  width: 291px;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-scale: 1;
  margin: 1px 0 0 auto;
}

.u-section-6 .u-image-1 {
  height: 450px;
  width: 871px;
  --animation-custom_in-translate_x: 0px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -607px auto 0 107px;
}

.u-section-6 .u-group-1 {
  min-height: 268px;
  width: 532px;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -129px auto 19px 38px;
}

.u-section-6 .u-container-layout-1 {
  padding: 30px 40px;
}

.u-section-6 .u-text-1 {
  font-size: 1.5rem;
  font-family: Roboto, sans-serif;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: 300;
  margin: 57px 51px 0 1px;
}

.u-section-6 .u-text-2 {
  font-weight: 700;
  text-transform: none;
  font-size: 2.25rem;
  margin: 16px 1px 0;
}

@media (max-width: 1199px) {
  .u-section-6 .u-sheet-1 {
    min-height: 973px;
  }

  .u-section-6 .u-shape-1 {
    height: 774px;
    width: 259px;
  }

  .u-section-6 .u-image-1 {
    height: 559px;
    width: 807px;
    margin-top: -708px;
    margin-right: 60px;
    margin-left: 69px;
  }

  .u-section-6 .u-group-1 {
    margin-top: -57px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-6 .u-sheet-1 {
    min-height: 872px;
  }

  .u-section-6 .u-shape-1 {
    height: 812px;
    width: 323px;
  }

  .u-section-6 .u-image-1 {
    height: 367px;
    width: 617px;
    margin-top: -746px;
    margin-right: 43px;
    margin-left: 0;
  }

  .u-section-6 .u-group-1 {
    width: 487px;
    margin-top: -54px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
  .u-section-6 .u-sheet-1 {
    min-height: 743px;
  }

  .u-section-6 .u-shape-1 {
    height: 683px;
    width: 250px;
  }

  .u-section-6 .u-image-1 {
    height: 309px;
    width: 438px;
    object-position: 100% 50%;
    margin-top: -617px;
    margin-right: auto;
  }

  .u-section-6 .u-group-1 {
    min-height: 295px;
    width: 434px;
    margin-top: -72px;
    margin-bottom: -9px;
    margin-left: 8px;
  }

  .u-section-6 .u-text-2 {
    font-size: 2.75rem;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-sheet-1 {
    min-height: 623px;
  }

  .u-section-6 .u-shape-1 {
    height: 568px;
    width: 186px;
  }

  .u-section-6 .u-image-1 {
    height: 216px;
    width: 297px;
    margin-top: -502px;
    margin-left: 16px;
  }

  .u-section-6 .u-group-1 {
    min-height: 248px;
    width: 270px;
    margin-top: -27px;
    margin-bottom: 19px;
    margin-left: 0;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.25rem;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-6 .u-text-2 {
    font-size: 1.875rem;
    margin-left: 0;
    margin-right: 0;
  }
} .u-section-7 {
  background-image: none;
}

.u-section-7 .u-sheet-1 {
  min-height: 500px;
}

.u-section-7 .u-layout-wrap-1 {
  margin-top: 60px;
  margin-bottom: 60px;
  position: relative;
}

.u-section-7 .u-layout-cell-1 {
  min-height: 534px;
}

.u-section-7 .u-container-layout-1 {
  padding: 30px;
}

.u-section-7 .u-text-1 {
  font-style: normal;
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0;
}

.u-section-7 .u-text-2 {
  font-size: 1.25rem;
  margin: 47px 0 0;
}

.u-section-7 .u-layout-cell-2 {
  min-height: 534px;
}

.u-section-7 .u-container-layout-2 {
  padding: 30px;
}

.u-section-7 .u-shape-1 {
  width: 102px;
  height: 102px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-7 .u-text-3 {
  font-size: 1.25rem;
  margin: 83px 0 0;
}

.u-section-7 .u-btn-1 {
  letter-spacing: 3px;
  font-size: 1.25rem;
  border-style: none;
  background-image: none;
  text-transform: uppercase;
  margin: 30px auto 0 0;
  padding: 10px 62px 10px 61px;
}

@media (max-width: 1199px) {
  .u-section-7 .u-sheet-1 {
    min-height: 430px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 440px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 440px;
  }
}

@media (max-width: 991px) {
  .u-section-7 .u-sheet-1 {
    min-height: 353px;
  }

  .u-section-7 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-7 .u-layout-cell-2 {
    min-height: 100px;
  }
}

@media (max-width: 767px) {
  .u-section-7 .u-sheet-1 {
    min-height: 580px;
  }

  .u-section-7 .u-container-layout-1 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-7 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-7 .u-sheet-1 {
    min-height: 439px;
  }

  .u-section-7 .u-text-1 {
    font-size: 1.875rem;
  }
} .u-section-8 {
  background-image: none;
}

.u-section-8 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-8 .u-shape-1 {
  width: 401px;
  height: 401px;
  background-image: none;
  margin: 64px auto 0;
}

.u-section-8 .u-image-1 {
  width: 401px;
  height: 401px;
  background-image: url("images/gffgg.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: 300px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -326px 133px 0 auto;
}

.u-section-8 .u-image-2 {
  width: 330px;
  height: 330px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  background-image: url("images/vvv.jpg");
  background-position: 50% 50%;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -161px 299px 0 auto;
}

.u-section-8 .u-group-1 {
  min-height: 613px;
  width: 412px;
  height: auto;
  --animation-custom_in-translate_x: -200px;
  --animation-custom_in-translate_y: 0px;
  --animation-custom_in-opacity: 0;
  --animation-custom_in-rotate: 0deg;
  --animation-custom_in-scale: 1;
  margin: -570px auto 50px 158px;
}

.u-section-8 .u-container-layout-1 {
  padding: 0 30px;
}

.u-section-8 .u-text-1 {
  font-weight: 700;
  margin: 19px 0 0;
}

.u-section-8 .u-form-1 {
  height: 466px;
  margin: 5px 5px 0 0;
}

.u-section-8 .u-form-group-4 {
  margin-left: 0;
}

.u-section-8 .u-btn-1 {
  border-style: solid;
  letter-spacing: 0px;
  background-image: none;
  width: 100%;
  font-size: 1.25rem;
  font-weight: 400;
  text-transform: none;
}

@media (max-width: 1199px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1011px;
  }

  .u-section-8 .u-shape-1 {
    width: 465px;
    height: 465px;
    margin-top: 53px;
    margin-left: 213px;
  }

  .u-section-8 .u-image-1 {
    width: 460px;
    height: 460px;
  }

  .u-section-8 .u-image-2 {
    margin-right: 156px;
  }

  .u-section-8 .u-group-1 {
    min-height: 707px;
    width: 448px;
    margin-bottom: 53px;
    height: auto;
  }
}

@media (max-width: 991px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1067px;
  }

  .u-section-8 .u-shape-1 {
    margin-top: 106px;
    margin-left: 64px;
  }

  .u-section-8 .u-image-2 {
    margin-right: 46px;
  }

  .u-section-8 .u-group-1 {
    margin-bottom: 56px;
  }
}

@media (max-width: 767px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1011px;
  }

  .u-section-8 .u-shape-1 {
    width: 448px;
    height: 448px;
    margin-top: 149px;
    margin-right: -26px;
    margin-left: auto;
  }

  .u-section-8 .u-image-1 {
    margin-top: -504px;
    margin-right: auto;
    margin-left: -29px;
  }

  .u-section-8 .u-image-2 {
    margin-top: -25px;
    margin-right: auto;
    margin-left: -29px;
  }

  .u-section-8 .u-group-1 {
    margin: -643px 0 60px auto;
  }

  .u-section-8 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }
}

@media (max-width: 575px) {
  .u-section-8 .u-sheet-1 {
    min-height: 1622px;
  }

  .u-section-8 .u-shape-1 {
    width: 292px;
    height: 292px;
    margin-right: 0;
  }

  .u-section-8 .u-image-1 {
    width: 276px;
    height: 276px;
    margin-top: -396px;
    margin-left: 0;
  }

  .u-section-8 .u-image-2 {
    width: 292px;
    height: 292px;
    margin-top: 95px;
    margin-left: 0;
  }

  .u-section-8 .u-group-1 {
    width: 340px;
  }

  .u-section-8 .u-form-1 {
    margin-right: 0;
  }
}