 .u-section-1 {
  background-image: url("images/6fee3953dbc4735e621c291666fa330205225493c6e8cf2747e1465f79bac320332a5d0ee6ee64f396d8a180161470dfc80a0645d5c04a7d910537_1280.jpg");
}

.u-section-1 .u-sheet-1 {
  min-height: 646px;
}

.u-section-1 .u-text-1 {
  font-size: 2.25rem;
  margin: 130px auto 0;
}

.u-section-1 .u-text-2 {
  font-size: 1.75rem;
  margin: 31px 45px 0;
}

.u-section-1 .u-form-1 {
  height: 126px;
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.4);
  margin: 36px 156px 0 242px;
}

.u-section-1 .u-btn-1 {
  border-style: none;
  padding: 12px 30px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: normal;
  margin: -57px auto 7px 385px;
  padding: 12px 30px;
}

@media (max-width: 1199px) {
   .u-section-1 {
    background-position: 50% 50%;
  }

  .u-section-1 .u-sheet-1 {
    min-height: 454px;
  }

  .u-section-1 .u-form-1 {
    width: 570px;
    margin-left: 142px;
    margin-right: 56px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 286px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 402px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 29px;
    margin-left: auto;
    margin-right: auto;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -59px;
    margin-left: 221px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 427px;
  }

  .u-section-1 .u-form-1 {
    width: 540px;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 144px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 422px;
  }

  .u-section-1 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-1 .u-text-2 {
    font-size: 1.5rem;
  }

  .u-section-1 .u-form-1 {
    margin-top: 30px;
    margin-right: -30px;
    margin-left: -17px;
    width: 340px;
  }

  .u-section-1 .u-btn-2 {
    margin-top: -60px;
    margin-right: 17px;
    margin-left: auto;
  }
}.u-section-2 .u-sheet-1 {
  min-height: 100vh;
}

.u-section-2 .u-layout-wrap-1 {
  margin-top: 85px;
  margin-bottom: 0;
}

.u-section-2 .u-layout-cell-1 {
  min-height: 610px;
}

.u-section-2 .u-container-layout-1 {
  padding: 14px 0 16px;
}

.u-section-2 .u-text-1 {
  margin: 0 auto;
}

.u-section-2 .u-text-2 {
  text-align: left;
  font-size: 1.5rem;
  margin: 14px auto 0;
}

.u-section-2 .u-gallery-1 {
  height: 469px;
  width: 646px;
  margin: 26px 25px 0 auto;
}

.u-section-2 .u-carousel-indicators-1 {
  position: absolute;
  bottom: 10px;
}

.u-section-2 .u-carousel-item-1 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-1 {
  min-height: 100px;
  background-image: none;
  padding: 10px;
}

.u-section-2 .u-carousel-item-2 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-2 {
  min-height: 100px;
  background-image: none;
  padding: 10px;
}

.u-section-2 .u-carousel-item-3 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-3 {
  min-height: 100px;
  background-image: none;
  padding: 10px;
}

.u-section-2 .u-carousel-item-4 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-4 {
  min-height: 100px;
  background-image: none;
  padding: 10px;
}

.u-section-2 .u-carousel-item-5 {
  margin-right: 0;
}

.u-section-2 .u-over-slide-5 {
  min-height: 100px;
  background-image: none;
  padding: 10px;
}

.u-section-2 .u-carousel-control-1 {
  position: absolute;
  left: 10px;
  width: 60px;
  height: 60px;
  right: auto;
}

.u-section-2 .u-carousel-control-2 {
  position: absolute;
  width: 60px;
  height: 60px;
  left: auto;
  right: 10px;
}

.u-section-2 .u-layout-cell-2 {
  min-height: 610px;
}

.u-section-2 .u-container-layout-2 {
  box-shadow: -2px 2px 8px 0 rgba(128,128,128,1);
  padding: 30px 0 10px;
}

.u-section-2 .u-text-3 {
  font-size: 1.5rem;
  margin: 4px auto 0;
}

.u-section-2 .u-text-4 {
  text-align: left;
  font-size: 1.5rem;
  margin: 26px auto 0;
}

.u-section-2 .u-shape-1 {
  width: 304px;
  height: 301px;
  margin: 93px 40px 0 auto;
}

.u-section-2 .u-image-1 {
  width: 291px;
  height: 213px;
  margin: -356px auto 0 60px;
}

.u-section-2 .u-group-1 {
  width: 250px;
  min-height: 276px;
  margin: -45px 25px 0 auto;
}

.u-section-2 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-2 .u-text-5 {
  text-align: left;
  margin: 0 8px 0 13px;
}

.u-section-2 .u-text-6 {
  text-align: left;
  font-size: 5rem;
  margin: 14px auto 0 37px;
}

.u-section-2 .u-text-7 {
  text-align: left;
  font-size: 3rem;
  margin: -96px 57px 0 auto;
}

.u-section-2 .u-text-8 {
  text-align: left;
  margin: 0 57px 0 auto;
}

.u-section-2 .u-text-9 {
  text-align: left;
  margin: 38px 24px 0;
}

.u-section-2 .u-btn-1 {
  border-style: none;
  margin: 14px auto 40px 32px;
  padding: 13px 28px 14px 27px;
}

.u-section-2 .u-icon-1 {
  margin-left: 5px;
  vertical-align: 0px;
}

@media (max-width: 1199px) {
  .u-section-2 .u-sheet-1 {
    min-height: 978px;
  }

  .u-section-2 .u-layout-wrap-1 {
    position: relative;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 798px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.875rem;
  }

  .u-section-2 .u-gallery-1 {
    height: 517px;
    width: 560px;
    margin-top: 47px;
    margin-right: auto;
  }

  .u-section-2 .u-carousel-control-1 {
    top: 117px;
  }

  .u-section-2 .u-carousel-control-2 {
    top: 117px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 798px;
  }

  .u-section-2 .u-text-3 {
    width: auto;
    margin-top: 47px;
    margin-right: 0;
    margin-left: 16px;
  }

  .u-section-2 .u-text-4 {
    width: auto;
    margin-top: 41px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 117px;
    margin-right: auto;
  }

  .u-section-2 .u-image-1 {
    margin-top: -363px;
    margin-left: 14px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -35px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -61px;
    margin-left: 55px;
  }
}

@media (max-width: 991px) {
  .u-section-2 .u-sheet-1 {
    min-height: 754px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 680px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 39px;
  }

  .u-section-2 .u-text-1 {
    font-size: 2.0625rem;
    width: auto;
    margin-left: 11px;
    margin-right: 11px;
  }

  .u-section-2 .u-gallery-1 {
    height: 378px;
    width: 422px;
    margin-top: 38px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 680px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 34px;
    margin-left: 7px;
    margin-right: 7px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 11px;
    margin-left: 41px;
  }

  .u-section-2 .u-shape-1 {
    height: 283px;
    width: 254px;
    margin-top: 142px;
  }

  .u-section-2 .u-image-1 {
    width: 245px;
    height: 202px;
    margin-top: -410px;
    margin-left: 11px;
  }

  .u-section-2 .u-group-1 {
    min-height: 294px;
    margin-top: -52px;
    margin-right: 7px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-bottom: 29px;
  }

  .u-section-2 .u-text-6 {
    width: auto;
    margin-top: 0;
    margin-right: 108px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -70px;
    margin-bottom: 31px;
    margin-left: 13px;
  }
}

@media (max-width: 767px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1374px;
  }

  .u-section-2 .u-layout-wrap-1 {
    margin-top: 41px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 599px;
  }

  .u-section-2 .u-container-layout-1 {
    padding-bottom: 30px;
  }

  .u-section-2 .u-text-1 {
    margin-top: 14px;
    margin-right: 35px;
    margin-left: 58px;
  }

  .u-section-2 .u-text-2 {
    margin-top: 20px;
  }

  .u-section-2 .u-gallery-1 {
    height: 374px;
    width: 494px;
    margin-top: 13px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 694px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 10px;
    margin-right: 29px;
    margin-left: 93px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 26px;
    margin-left: 161px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 141px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -395px;
    margin-left: 102px;
  }

  .u-section-2 .u-group-1 {
    min-height: 314px;
    margin-top: -23px;
    margin-right: 82px;
  }

  .u-section-2 .u-container-layout-3 {
    padding-top: 20px;
    padding-bottom: 20px;
  }

  .u-section-2 .u-text-5 {
    width: auto;
  }

  .u-section-2 .u-text-6 {
    margin-top: 24px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 20px;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -758px;
    margin-bottom: 746px;
    margin-left: 35px;
  }
}

@media (max-width: 575px) {
  .u-section-2 .u-sheet-1 {
    min-height: 1278px;
  }

  .u-section-2 .u-layout-cell-1 {
    min-height: 594px;
  }

  .u-section-2 .u-text-1 {
    font-size: 1.625rem;
    margin-top: 3px;
    margin-left: 6px;
    margin-right: 6px;
  }

  .u-section-2 .u-text-2 {
    width: auto;
    margin-right: -3px;
  }

  .u-section-2 .u-gallery-1 {
    width: 340px;
    margin-top: 31px;
  }

  .u-section-2 .u-layout-cell-2 {
    min-height: 640px;
  }

  .u-section-2 .u-text-3 {
    margin-top: 20px;
    margin-right: 31px;
    margin-left: 43px;
  }

  .u-section-2 .u-text-4 {
    margin-top: 25px;
    margin-left: 102px;
  }

  .u-section-2 .u-shape-1 {
    margin-top: 101px;
    margin-right: 31px;
  }

  .u-section-2 .u-image-1 {
    margin-top: -364px;
    margin-left: 24px;
  }

  .u-section-2 .u-group-1 {
    margin-top: -61px;
    margin-right: 8px;
  }

  .u-section-2 .u-text-8 {
    margin-top: 0;
  }

  .u-section-2 .u-btn-1 {
    margin-top: -715px;
    margin-bottom: 662px;
    margin-left: 17px;
  }
} .u-section-3 {
  background-image: none;
}

.u-section-3 .u-sheet-1 {
  min-height: 952px;
}

.u-section-3 .u-group-1 {
  width: 535px;
  min-height: 836px;
  margin: 58px auto 0 0;
}

.u-section-3 .u-container-layout-1 {
  padding: 30px 45px 30px 30px;
}

.u-section-3 .u-text-1 {
  text-transform: uppercase;
  letter-spacing: 7px;
  line-height: 1;
  font-weight: 400;
  margin: 169px 0 0;
}

.u-section-3 .u-text-2 {
  font-size: 3rem;
  font-weight: 700;
  margin: 12px 0 0;
}

.u-section-3 .u-text-3 {
  margin: 45px 0 0;
}

.u-section-3 .u-btn-1 {
  border-style: solid;
  padding: 0;
}

.u-section-3 .u-layout-wrap-1 {
  width: 605px;
  margin: -836px 0 58px auto;
}

.u-section-3 .u-layout-cell-1 {
  min-height: 104px;
}

.u-section-3 .u-container-layout-2 {
  padding: 30px;
}

.u-section-3 .u-layout-cell-2 {
  min-height: 367px;
}

.u-section-3 .u-container-layout-3 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-3 .u-icon-1 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-4 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-5 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-3 .u-layout-cell-3 {
  min-height: 395px;
}

.u-section-3 .u-container-layout-4 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-3 .u-icon-2 {
  height: 75px;
  width: 75px;
  background-image: none;
  color: rgb(255, 255, 255) !important;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-6 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-7 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-3 .u-layout-cell-4 {
  min-height: 384px;
}

.u-section-3 .u-container-layout-5 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-3 .u-icon-3 {
  height: 75px;
  width: 75px;
  background-image: none;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-8 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-9 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-3 .u-layout-cell-5 {
  min-height: 378px;
}

.u-section-3 .u-container-layout-6 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.2);
  padding: 30px;
}

.u-section-3 .u-icon-4 {
  height: 75px;
  width: 75px;
  background-image: none;
  color: rgb(17, 17, 17) !important;
  margin: 0 auto 0 0;
}

.u-section-3 .u-text-10 {
  margin: 20px auto 0 0;
}

.u-section-3 .u-text-11 {
  line-height: 1.8;
  font-style: italic;
  margin: 20px auto 0 0;
}

.u-section-3 .u-layout-cell-6 {
  min-height: 104px;
}

.u-section-3 .u-container-layout-7 {
  padding: 30px;
}

@media (max-width: 1199px) {
  .u-section-3 .u-group-1 {
    width: 441px;
  }

  .u-section-3 .u-layout-wrap-1 {
    width: 499px;
  }
}

@media (max-width: 991px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1211px;
  }

  .u-section-3 .u-group-1 {
    min-height: 345px;
    margin-top: 30px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-container-layout-1 {
    padding-top: 18px;
    padding-bottom: 18px;
    padding-right: 30px;
  }

  .u-section-3 .u-text-1 {
    margin-top: 38px;
  }

  .u-section-3 .u-layout-wrap-1 {
    margin-top: 12px;
    margin-bottom: 60px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 345px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 345px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 345px;
  }

  .u-section-3 .u-icon-3 {
    margin-left: 11px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 345px;
  }
}

@media (max-width: 767px) {
  .u-section-3 .u-sheet-1 {
    min-height: 1042px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 186px;
  }

  .u-section-3 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-4 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-5 {
    min-height: 100px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 186px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-3 .u-sheet-1 {
    min-height: 836px;
  }

  .u-section-3 .u-container-layout-1 {
    padding-right: 10px;
    padding-left: 10px;
  }

  .u-section-3 .u-layout-cell-1 {
    min-height: 213px;
  }

  .u-section-3 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-3 .u-container-layout-4 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-5 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-3 .u-layout-cell-6 {
    min-height: 213px;
  }

  .u-section-3 .u-container-layout-7 {
    padding-left: 20px;
    padding-right: 20px;
  }
}.u-section-4 .u-sheet-1 {
  min-height: 625px;
}

.u-section-4 .u-layout-wrap-1 {
  width: 1019px;
  margin: 60px auto;
}

.u-section-4 .u-layout-cell-1 {
  min-height: 505px;
}

.u-section-4 .u-container-layout-1 {
  padding: 0;
}

.u-section-4 .u-shape-1 {
  width: 505px;
  left: 0;
  right: auto;
}

.u-section-4 .u-image-1 {
  width: 364px;
  height: 434px;
  object-position: 50% 100%;
  margin: 36px auto 0;
}

.u-section-4 .u-layout-cell-2 {
  min-height: 505px;
}

.u-section-4 .u-container-layout-2 {
  padding: 30px;
}

.u-section-4 .u-icon-1 {
  height: 150px;
  width: 150px;
  margin: 0 auto 0 0;
}

.u-section-4 .u-text-1 {
  font-size: 1.125rem;
  margin: -64px 0 0 100px;
}

@media (max-width: 1199px) {
  .u-section-4 .u-sheet-1 {
    min-height: 586px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 466px;
  }

  .u-section-4 .u-shape-1 {
    width: 470px;
  }

  .u-section-4 .u-image-1 {
    margin-top: 0;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 466px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 61px;
  }
}

@media (max-width: 991px) {
  .u-section-4 .u-sheet-1 {
    min-height: 477px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 510px;
  }

  .u-section-4 .u-shape-1 {
    width: 351px;
    height: 394px;
    left: auto;
    bottom: auto;
    right: auto;
    top: auto;
    margin: 58px auto 0 0;
  }

  .u-section-4 .u-image-1 {
    height: 329px;
    width: 251px;
    margin-top: -361px;
  }

  .u-section-4 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-4 .u-text-1 {
    margin-left: 0;
  }
}

@media (max-width: 767px) {
  .u-section-4 .u-sheet-1 {
    min-height: 756px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 540px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 431px;
  }

  .u-section-4 .u-shape-1 {
    width: 396px;
    height: 420px;
    margin-top: 0;
    margin-left: auto;
  }

  .u-section-4 .u-image-1 {
    margin-top: -374px;
    margin-bottom: 46px;
  }

  .u-section-4 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }
}

@media (max-width: 575px) {
  .u-section-4 .u-sheet-1 {
    min-height: 557px;
  }

  .u-section-4 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-4 .u-layout-cell-1 {
    min-height: 368px;
  }

  .u-section-4 .u-shape-1 {
    height: 331px;
    margin-right: initial;
    margin-left: initial;
    width: auto;
  }

  .u-section-4 .u-image-1 {
    height: 257px;
    width: 196px;
    margin-top: -294px;
    margin-bottom: 37px;
  }
}.u-section-5 .u-sheet-1 {
  min-height: 845px;
}

.u-section-5 .u-text-1 {
  font-weight: 700;
  font-size: 3rem;
  width: 867px;
  margin: 31px auto 0;
}

.u-section-5 .u-layout-wrap-1 {
  margin-top: 20px;
  margin-bottom: 31px;
}

.u-section-5 .u-layout-cell-1 {
  min-height: 711px;
  background-image: none;
}

.u-section-5 .u-container-layout-1 {
  padding: 28px 30px;
}

.u-section-5 .u-accordion-1 {
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-5 .u-accordion-item-1 {
  margin-left: auto;
}

.u-section-5 .u-accordion-link-1 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  padding: 30px;
}

.u-section-5 .u-icon-1 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-5 .u-accordion-pane-1 {
  min-height: 150px;
  background-image: none;
  margin-left: 0;
  margin-right: 0;
}

.u-section-5 .u-container-layout-2 {
  padding: 30px;
}

.u-section-5 .u-text-2 {
  font-weight: 700;
  margin: 0;
}

.u-section-5 .u-text-3 {
  margin-left: 0;
  margin-right: 103px;
  line-height: 1.6;
  margin-top: 20px;
}

.u-section-5 .u-accordion-item-2 {
  margin-left: auto;
}

.u-section-5 .u-accordion-link-2 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  padding: 30px;
}

.u-section-5 .u-icon-2 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-5 .u-accordion-pane-2 {
  min-height: 150px;
  background-image: none;
}

.u-section-5 .u-container-layout-3 {
  padding: 30px;
}

.u-section-5 .u-text-4 {
  line-height: 1.6;
  margin: 0 0 0 auto;
}

.u-section-5 .u-accordion-item-3 {
  margin-left: auto;
}

.u-section-5 .u-accordion-link-3 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  padding: 30px;
}

.u-section-5 .u-icon-3 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-5 .u-accordion-pane-3 {
  min-height: 150px;
  background-image: none;
}

.u-section-5 .u-container-layout-4 {
  padding: 30px;
}

.u-section-5 .u-text-5 {
  margin: 0 0 0 auto;
}

.u-section-5 .u-accordion-item-4 {
  margin-left: auto;
}

.u-section-5 .u-accordion-link-4 {
  background-image: none;
  font-weight: 700;
  margin-left: auto;
  padding: 30px;
}

.u-section-5 .u-icon-4 {
  height: 20px;
  width: 20px;
  background-image: none;
}

.u-section-5 .u-accordion-pane-4 {
  min-height: 150px;
  background-image: none;
}

.u-section-5 .u-container-layout-5 {
  padding: 30px;
}

.u-section-5 .u-text-6 {
  margin: 0 0 0 auto;
}

.u-section-5 .u-layout-cell-2 {
  min-height: 704px;
}

.u-section-5 .u-container-layout-6 {
  padding: 30px 50px;
}

.u-section-5 .u-image-1 {
  height: 247px;
  margin-top: 34px;
  margin-bottom: 0;
}

.u-section-5 .u-text-7 {
  font-size: 1.25rem;
  line-height: 2;
  margin: 70px 0 0;
}

@media (max-width: 1199px) {
  .u-section-5 .u-sheet-1 {
    min-height: 852px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 586px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 3px;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 580px;
  }

  .u-section-5 .u-image-1 {
    height: 192px;
  }
}

@media (max-width: 991px) {
  .u-section-5 .u-sheet-1 {
    min-height: 319px;
  }

  .u-section-5 .u-text-1 {
    width: 720px;
  }

  .u-section-5 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-text-3 {
    margin-right: 0;
  }

  .u-section-5 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-5 .u-container-layout-6 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-5 .u-image-1 {
    height: 168px;
  }
}

@media (max-width: 767px) {
  .u-section-5 .u-sheet-1 {
    min-height: 985px;
  }

  .u-section-5 .u-text-1 {
    width: auto;
  }

  .u-section-5 .u-container-layout-2 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-3 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-4 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-container-layout-5 {
    padding-left: 10px;
    padding-right: 10px;
  }

  .u-section-5 .u-image-1 {
    height: 259px;
  }
}

@media (max-width: 575px) {
  .u-section-5 .u-sheet-1 {
    min-height: 1219px;
  }

  .u-section-5 .u-text-1 {
    font-size: 2.25rem;
  }

  .u-section-5 .u-image-1 {
    height: 156px;
  }
} .u-section-6 {
  background-image: none;
  min-height: 865px;
}

.u-section-6 .u-shape-1 {
  height: 477px;
  background-image: none;
  margin-top: 0;
  margin-bottom: 0;
}

.u-section-6 .u-layout-wrap-1 {
  width: 1140px;
  margin: -390px auto 60px;
}

.u-section-6 .u-layout-cell-1 {
  min-height: 741px;
}

.u-section-6 .u-container-layout-1 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  padding: 30px;
}

.u-section-6 .u-text-1 {
  text-transform: none;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 80px 0 0;
}

.u-section-6 .u-text-2 {
  font-size: 1.125rem;
  line-height: 1.8;
  margin: 28px 0 0;
}

.u-section-6 .u-btn-1 {
  font-weight: 700;
  border-style: solid;
  padding: 0;
}

.u-section-6 .u-text-3 {
  text-transform: none;
  font-size: 1.875rem;
  font-weight: 700;
  margin: 47px auto 0 0;
}

.u-section-6 .u-social-icons-1 {
  height: 31px;
  min-height: 16px;
  width: 197px;
  min-width: 120px;
  white-space: nowrap;
  margin: 28px auto 0 0;
}

.u-section-6 .u-icon-1 {
  height: 100%;
}

.u-section-6 .u-icon-2 {
  height: 100%;
}

.u-section-6 .u-icon-3 {
  height: 100%;
}

.u-section-6 .u-icon-4 {
  height: 100%;
}

.u-section-6 .u-icon-5 {
  height: 100%;
}

.u-section-6 .u-text-4 {
  font-size: 1.125rem;
  margin: 37px 0 0;
}

.u-section-6 .u-layout-cell-2 {
  min-height: 738px;
}

.u-section-6 .u-container-layout-2 {
  box-shadow: 5px 5px 20px 0 rgba(0,0,0,0.15);
  padding: 30px 50px;
}

.u-section-6 .u-text-5 {
  font-size: 2.25rem;
  letter-spacing: 1px;
  background-image: none;
  text-transform: none;
  margin: 80px auto 0 1px;
}

.u-section-6 .u-form-1 {
  height: 368px;
  margin-top: 30px;
  margin-bottom: 0;
}

.u-section-6 .u-input-1 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-6 .u-input-2 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-6 .u-input-3 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-6 .u-form-group-4 {
  margin-left: 0;
}

.u-section-6 .u-input-4 {
  font-size: 1.125rem;
  text-transform: none;
  background-image: none;
}

.u-section-6 .u-btn-2 {
  font-size: 1.125rem;
  letter-spacing: 3px;
  border-style: none;
  font-weight: 700;
  text-transform: uppercase;
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  background-image: none;
}

@media (max-width: 1199px) {
   .u-section-6 {
    min-height: 736px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 940px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 611px;
  }

  .u-section-6 .u-social-icons-1 {
    width: 195px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 609px;
  }
}

@media (max-width: 991px) {
   .u-section-6 {
    min-height: 227px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 720px;
  }

  .u-section-6 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-6 .u-layout-cell-2 {
    min-height: 100px;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 30px;
    padding-right: 30px;
  }
}

@media (max-width: 767px) {
   .u-section-6 {
    min-height: 1282px;
  }

  .u-section-6 .u-shape-1 {
    height: 1011px;
  }

  .u-section-6 .u-layout-wrap-1 {
    width: 540px;
    margin-top: -924px;
  }
}

@media (max-width: 575px) {
  .u-section-6 .u-layout-wrap-1 {
    width: 340px;
  }

  .u-section-6 .u-container-layout-1 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .u-section-6 .u-text-1 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-text-3 {
    font-size: 1.5rem;
  }

  .u-section-6 .u-container-layout-2 {
    padding-left: 20px;
    padding-right: 20px;
  }
}