 .u-section-1 {
  min-height: 1034px;
}

.u-section-1 .u-shape-1 {
  height: 618px;
  margin-top: -21px;
  margin-bottom: 0;
}

.u-section-1 .u-group-1 {
  width: 698px;
  min-height: 865px;
  box-shadow: 0px -2px 26px 0 rgba(0,0,0,0.25);
  height: auto;
  margin: -517px auto 60px calc(((100% - 1140px) / 2) + 221px);
}

.u-section-1 .u-container-layout-1 {
  padding: 49px 30px 50px;
}

.u-section-1 .u-line-1 {
  left: 115px;
  top: 290px;
  position: absolute;
}

.u-section-1 .u-form-1 {
  height: 535px;
  width: 570px;
  margin: 21px auto 0;
}

.u-section-1 .u-label-1 {
  font-weight: 700;
}

.u-section-1 .u-input-1 {
  font-weight: 700;
}

.u-section-1 .u-label-2 {
  font-weight: 700;
}

.u-section-1 .u-input-2 {
  font-weight: 700;
}

.u-section-1 .u-label-3 {
  font-weight: 700;
}

.u-section-1 .u-input-3 {
  font-weight: 700;
}

.u-section-1 .u-label-4 {
  font-weight: 700;
}

.u-section-1 .u-input-4 {
  font-weight: 700;
}

.u-section-1 .u-label-5 {
  font-weight: 700;
}

.u-section-1 .u-input-5 {
  font-weight: 700;
}

.u-section-1 .u-label-6 {
  font-weight: 700;
}

.u-section-1 .u-input-6 {
  font-weight: 700;
}

@media (max-width: 1199px) {
  .u-section-1 .u-shape-1 {
    margin-top: -41px;
  }

  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 940px) / 2) + 221px);
    height: auto;
  }

  .u-section-1 .u-line-1 {
    transform-origin: center top 0px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-group-1 {
    margin-left: calc(((100% - 720px) / 2) + 22px);
  }

  .u-section-1 .u-container-layout-1 {
    padding: 30px 0;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-group-1 {
    width: 540px;
    margin-left: calc(((100% - 540px) / 2));
  }

  .u-section-1 .u-container-layout-1 {
    padding-top: 19px;
    padding-bottom: 19px;
  }

  .u-section-1 .u-form-1 {
    width: 520px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-group-1 {
    width: 340px;
    margin-left: calc(((100% - 340px) / 2));
  }

  .u-section-1 .u-form-1 {
    width: 320px;
  }
}